
@tailwind base;
@tailwind components;
@tailwind utilities;


/* CustomScrollbar.css */
@media (min-width: 700px) {
  /* Estilos para tamaños de pantalla 'lg' o más grandes */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar en pantallas grandes */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb en pantallas grandes */
    border-radius: 5px; /* Bordes redondeados para el thumb en pantallas grandes */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo del scrollbar en pantallas grandes */
    border-radius: 5px; /* Bordes redondeados para el fondo del scrollbar en pantallas grandes */
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@layer{
  /* Resto de tus estilos */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap');

  body {
    font-family: 'Montserrat', sans-serif;
   
  }
}